/* BASE ******************************************************************************************************************************************
***************************************************************************************************************************************************
************************************************************************************************************************************************* */

@charset "UTF-8";

@font-face {
  font-family: "RegardsRegular";
  src: url("./fonts/regards-webfont.woff2") format("woff2"),
    url("./fonts/regards-webfont.woff") format("woff"),
    url("./fonts/regards.ttf") format("truetype"),
    url("./fonts/regards.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  /* Couleurs */
  --bg-color: #f0d09a;
  --text-color: #292420;
  --text-color2: #2c2622;
  --hover-color: #e09b2b;
  --hover-color2: #574b43;
  --main-color: #faefdd;
  --white-color: #fbf1e1;
  --shadow-color: rgba(0, 0, 0, 0.2);

  /* Polices */
  --main-font: "Quasimoda", "ivyora-text", sans-serif;
  --title1: "RegardsRegular", sans-serif;
  --nav-a: "logic-monospace", mono;
}

/* BODY STYLE ******************************************************************************************************************************************
***************************************************************************************************************************************************
************************************************************************************************************************************************* */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* HEADER ******************************************************************************************************************************************
***************************************************************************************************************************************************
************************************************************************************************************************************************* */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background: var(--text-color); /*potentiellemen à enlever en ajoutant transparent*/
  display: flex;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  font-family: var(--title1);
  cursor: default;
  margin-right: auto;
}

.navbar a {
  position: relative;
  font-size: 1.7rem;
  color: var(--white-color);
  font-weight: 500;
  font-family: var(--nav-a);
  margin-right: 3.5rem;
}

.navbar a.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 0.2rem;
  background: var(--white-color);
}

#darkMode-icon {
  font-size: 2.4rem;
  color: var(--white-color);
  cursor: pointer;
}

/* SECTION ******************************************************************************************************************************************
***************************************************************************************************************************************************
************************************************************************************************************************************************* */

section {
  min-height: 100vh;
  padding: 10rem 7% 2rem;
}

/* HOME  ******************************************************************************************************************************************
***************************************************************************************************************************************************
************************************************************************************************************************************************* */

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.home .home-content {
  max-width: 49rem;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 0.3;
  font-family: var(--title1);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
  font-family: var(--title1);
}

.home-content p {
  font-size: 1.6rem;
}

.home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--text-color);
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 2rem;
  color: var(--text-color);
  margin: 2.5rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.home-content .social-media a:hover {
  background: var(--hover-color2);
  color: var(--white-color);
}

.btn {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--text-color);
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1.6rem;
  color: var(--white-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  transition: 0.5s ease;
}

.btn:hover {
  background: transparent;
  color: var(--text-color);
  border-color: var(--text-color);
}

.home .profession-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 868px;
  height: 1000px;
  overflow: hidden;
  pointer-events: none;
}

.home .profession-container .profession-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 768px;
  height: 1000px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .profession-box .profession {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
  transform: rotate(calc(360deg / 4 * var(--i)));
  transform-origin: 384px;
  background: var(--bg-color);
  padding: 13px;
}

.home .profession-box .profession:nth-child(1) i {
  margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4) {
  padding-bottom: 20px;
}

.home .profession i {
  font-size: 3.8rem;
}

.home .profession h3 {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 600;
}

.home .profession-box .circle {
  width: 560px;
  height: 560px;
  border: 3px solid var(--text-color);
  border-radius: 50%;
}

.home .profession-container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 484px solid var(--text-color);
  border-right: 384px solid var(--text-color);
  border-bottom: 475px solid var(--text-color);
  border-left: 384px solid transparent;
}

.home-img img {
  position: absolute;
  bottom: 0%;
  right: -4em;
  width: 27%;
  pointer-events: none;
}

/* ABOUT  ******************************************************************************************************************************************
***************************************************************************************************************************************************
************************************************************************************************************************************************* */

span{
  color: var(--main-color);
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img{
  width: 30vw;
}

.heading{
  font-size: 4.5rem;
  text-align: center;
  font-family: var(--title1);

}