/* BASE ******************************************************************************************************************************************
***************************************************************************************************************************************************
************************************************************************************************************************************************* */

@charset "UTF-8";

@font-face {
  font-family: "RegardsRegular";
  src: url("./fonts/regards-webfont.woff2") format("woff2"),
    url("./fonts/regards-webfont.woff") format("woff"),
    url("./fonts/regards.ttf") format("truetype"),
    url("./fonts/regards.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  /* Couleurs */
  --bg-color: #f0d09a;
  --text-color: #292420;
  --text-color2: #2c2622;
  --hover-color: #e09b2b;
  --hover-color2: #574b43;
  --main-color: #faefdd;
  --white-color: #fbf1e1;
  --shadow-color: rgba(0, 0, 0, 0.2);

  /* Polices */
  --main-font: "Quasimoda", "ivyora-text", sans-serif;
  --title1: "RegardsRegular", sans-serif;
  --nav-a:"logic-monospace", mono;
}

/* BODY STYLE ******************************************************************************************************************************************
***************************************************************************************************************************************************
************************************************************************************************************************************************* */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* HEADER ******************************************************************************************************************************************
***************************************************************************************************************************************************
************************************************************************************************************************************************* */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background: var(--text-color);
display: flex;
align-items: center;
z-index: 100;
}

.logo{
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  font-family: var(--title1);
  cursor: default;
  margin-right: auto;
}

.navbar a{
position: relative;
font-size: 1.7rem;
color: var(--white-color);
font-weight: 500;
font-family: var(--nav-a);
margin-right: 3.5rem;
}

.navbar a.active::before{
  content:"";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: .2rem;
  background: var(--white-color);
}

#darkMode-icon{
  font-size: 2.4rem;
  color: var(--white-color);
  cursor: pointer;
}
.
/* FONTS ******************************************************************************************************************************************
***************************************************************************************************************************************************
************************************************************************************************************************************************* */
/* 
h1, h2 {
  font-family: regardsregular, sans-serif;
  font-weight: 400;
  letter-spacing: -0.015em;
  font-feature-settings: "swsh", "liga";
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
}

h1 {
  font-size: 78px;
  line-height: 1.2em;
  margin-bottom: 24px;
}

h2 {
  font-size: 40px;
  line-height: 1.25em;
  margin-bottom: 40px;
}

h3 {
  font-style: normal;
  letter-spacing: 0;
  font-size: 22px;
  font-family: "Quasimoda", "ivyora-text", sans-serif;
  font-weight: 400;
  line-height: 1.35em;
  margin: 40px 0 0 0;
}*

h4, .section-description {
  font-family: regardsregular, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.075em;
  margin-bottom: 8px;
}

a {
  border-bottom: 0.5px solid #2C2622;
  color: #2C2622;
  text-decoration: none;
}
a:hover {
  border-bottom: 0.5px solid #f0d09a;
  color: #e09b2b;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
} */

/* .emphasized {
  border-bottom: 0.5px solid #faefdd;
  border-top: 0.5px solid #faefdd;
  font-size: 26px;
  font-style: italic;
  letter-spacing: -0.02em;
  line-height: 1.35em;
  margin-top: 48px;
  padding: 24px 0;
} */

/* .featured-link,
.text-page .featured-link {
  border-bottom: 0.5px solid #2C2622;
  display: inline-block;
  font-size: 14px;
  font-family: "logic-monoscript", mono;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.005em;
  line-height: 1.3em;
  text-transform: uppercase;
  margin-top: 24px;
}

.nowrap {
  white-space: nowrap;
} */
